@mixin columncenterAlign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@mixin rowcenterAlign {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin leftcenterAlign {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@mixin imgBlock($argus) {
  display: block;
  width: $argus * 1px;
}
@mixin fontSize($color, $size) {
  color: $color;
  font-size: $size * 1px;
  line-height: $size * 1px;
}

.myaccount-container {
  background-color: #f5f5f5;
  height: 100%;
  overflow: auto;
  .container-box {
    height: 170px;
    box-sizing: border-box;
    // background-image: linear-gradient(160deg, #ffc55e 0%, #ff7b4a 100%);
    background: url('../../../assets/images/PersonalCenter/personal_bg.png') no-repeat;
    background-size: 100% auto;
    // border-radius: 0 0 32px 32px;
    .header-arrow {
      height: 44px;
      width: 40px;
      @include rowcenterAlign;
      img {
        @include imgBlock(10);
      }
    }
    .header-info {
      @include rowcenterAlign;
      padding: 0 16px;
      .header-leftbox {
        flex: 1;
        @include leftcenterAlign;
        .header-mobile {
          @include fontSize(#fff, 18);
          margin-bottom: 5px;
        }
        .header-ranking {
          @include fontSize(#fff, 12);
          opacity: 0.6;
          margin-top: 5px;
        }
      }
      .header-avatal {
        img {
          @include imgBlock(58);
        }
      }
    }
    .ranking-record {
      margin-top: 10px;
      padding: 0 16px;
      .record-box {
        height: 78px;
        background: #ffffff;
        box-shadow: 0 6px 12px 0 rgba(221, 221, 221, 0.24);
        border-radius: 8px;
        border-radius: 8px;
        @include rowcenterAlign;
        .record-item {
          flex: 1;
          @include columncenterAlign;
          p:nth-child(1) {
            @include fontSize(#333333, 20);
            margin-bottom: 3px;
          }
          p:nth-child(2) {
            margin-top: 3px;
            @include fontSize(#999999, 12);
          }
        }
      }
    }
    .record-list {
      width: 343px;
      margin: 0 auto;
      background: #fff;
      padding: 20px 0px 14px;
      box-sizing: border-box;
      margin-top: 10px;
      border-radius: 8px;
      .am-list-view-scrollview {
        height: 372px;
      }
      .am-list-body {
        background: #fff;
        &:before,
        &:after {
          height: 0;
        }
      }
      .am-list-footer {
        padding: 0;
      }
      .record-list-tltie {
        padding-left: 16px;
        margin-bottom: 14px;
        @include fontSize(#333333, 16);
      }
      .record-list-item {
        padding: 14px 16px;
        height: 46px;
        display: flex;
        .list-item-img {
          margin-right: 9px;
          img {
            @include imgBlock(46);
          }
        }
        .list-item-box {
          flex: 1;
          @include leftcenterAlign;
          .item-box-top {
            @include fontSize(#333333, 14);
            margin-bottom: 3px;
          }
          .item-box-bottom {
            display: flex;
            justify-content: space-between;
            margin-top: 3px;
            p:nth-child(1) {
              @include fontSize(#fdc014, 18);
            }
            p:nth-child(2) {
              @include fontSize(#b3b3b3, 12);
              position: relative;
              top: 6px;
            }
          }
        }
      }
    }
  }
}
