.activityContainer {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  .bg {
    position: relative;
    & > img {
      display: block;
      width: 100%;
    }
    .bg-tip {
      position: absolute;
      touch-action: pan-y;
      width: 298px;
      height: 40px;
      background: rgba($color: #000000, $alpha: 0.24);
      border-radius: 20px;
      border-radius: 20px;
      bottom: 11px;
      left: 16px;
      padding-left: 4px;
      .my-carousel {
        height: 40px !important;
        display: flex;
        align-items: center;
        flex-direction: row;
        .my-carousel-photo {
          display: block;
          width: 32px;
          margin-right: 3px;
        }
        .my-carousel-tip {
          font-size: 16px;
          color: #fff;
          span {
            color: #fff68a;
          }
        }
      }
    }
  }
  .ranking-box {
    width: 343px;
    padding: 6px;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 8px;
    background: rgba($color: #fff, $alpha: 0.2);
    .ranking-list {
      width: 100%;
      border-radius: 8px;
      background: #fff;
      padding-top: 18px;
      & > img {
        display: block;
        width: 156px;
        margin: 0 auto;
      }
      .swick-box {
        width: 254px;
        height: 38px;
        margin: 9px auto 0;
        display: flex;
        flex-direction: row;
        background-image: linear-gradient(#ffecbe 0%, #f7cf7e 100%);
        border-radius: 19px;
        position: relative;
        &:after {
          content: "  ";
          position: absolute;
          left: 0;
          top: 0;
          width: 200%;
          height: 200%;
          box-sizing: border-box;
          border: 1px solid #facd71;
          -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
          -webkit-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
          border-radius: 38px;
          z-index: 1;
        }
        p {
          flex: 1 auto;
          line-height: 38px;
          text-align: center;
          color: #af7f47;
          z-index: 2;
        }
        .active {
          background-image: linear-gradient(#ffecbe 0%, #f7cf7e 30%);
          border-radius: 19px;
          position: relative;
          color: #f9652d;
          &:after {
            content: "  ";
            position: absolute;
            left: 0;
            top: 0;
            width: 200%;
            height: 200%;
            box-sizing: border-box;
            border: 1px solid #facd71;
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
            -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
            border-radius: 38px;
          }
        }
      }
      .ranking-table {
        margin-top: 11px;
        .table-header {
          width: 100%;
          height: 34px;
          display: flex;
          flex-direction: row;
          background-image: linear-gradient(270deg, rgba(248, 210, 132, 0) 3%, rgba(248, 210, 132, 0.12) 50%, rgba(248, 210, 132, 0) 100%);
          p {
            text-align: center;
            font-size: 14px;
            line-height: 34px;
            color: #af7f47;
          }
          p:nth-child(1) {
            width: 100px;
          }
          p:nth-child(2) {
            flex: 1 auto;
          }
          p:nth-child(3) {
            width: 115px;
          }
        }

        .table-list {
          max-height: 290px;
          overflow-y: hidden;
          height: 290px;
          position: relative;
          .table-list-box {
            position: absolute;
            top: 0;
            left: 0;
          }
          .header-bg1 {
            background-image: linear-gradient(270deg, rgba(248, 210, 132, 0) 3%, rgba(248, 210, 132, 0.3) 50%, rgba(248, 210, 132, 0) 100%);
          }
          .header-bg2 {
            background-image: linear-gradient(270deg, rgba(202, 213, 219, 0) 3%, rgba(202, 213, 219, 0.3) 50%, rgba(202, 213, 219, 0) 100%);
          }
          .header-bg3 {
            background-image: linear-gradient(270deg, rgba(204, 182, 168, 0) 3%, rgba(204, 182, 168, 0.3) 50%, rgba(204, 182, 168, 0) 100%);
          }
          .list-header {
            display: flex;
            flex-direction: row;
            height: 58px;
            p {
              color: #333333;
              font-size: 14px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .photo {
              flex: 1;
              & > img {
                display: block;
                width: 30px;
                margin-right: 4px;
              }
            }
            .integral {
              color: #fdc014;
              justify-content: start;
              padding-left: 25px;
              width: 115px;
              box-sizing: border-box;
              & > img {
                display: block;
                width: 20px;
                margin-right: 3px;
              }
            }
            .cupImg {
              width: 100px;
              color: #061c33;
              & > img {
                display: block;
                width: 26px;
              }
            }
          }
        }
      }
    }
  }
  .header {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 16px;
    top: 26px;
    box-sizing: border-box;
    .header-left {
      height: 50px;
      width: 50px;
      margin-right: 14px;
      img {
        display: block;
        width: 100%;
      }
    }
    .header-right {
      p:nth-child(1) {
        color: #fff;
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 8px;
      }
      p:nth-child(2) {
        color: #fff;
        font-size: 12px;
        line-height: 12px;
        opacity: 0.6;
      }
    }
  }
  .suspension {
    img:nth-child(1) {
      display: block;
      width: 66px;
      position: absolute;
      right: 0;
      top: 35px;
      z-index: 2;
    }
    img:nth-child(2) {
      display: block;
      width: 80px;
      position: absolute;
      right: 0;
      top: 319px;
      z-index: 2;
      transform: scale(0.9);
      animation: changBig 0.3s linear infinite;
    }
  }
}
@keyframes changBig {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
.myModal {
  width: 100%;
  position: absolute;
  background: rgba($color: #000, $alpha: 0.66);
  top: 0;
  padding-top: 18px;
  box-sizing: border-box;
  bottom: 0;
  z-index: 9;
  .modalArrow {
    display: block;
    width: 193px;
    margin-left: 150px;
    margin-bottom: 14px;
  }
  .modalContent {
    margin: 0 auto;
    width: 320px;
    height: 120px;
    background-image: url(../../../assets/images/Activity/share1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    .modalText {
      width: 289px;
      height: 92px;
      background: #fff;
      border-radius: 6px;
      padding: 4px;
      box-sizing: border-box;
      p {
        border: 1px dashed #e0e0e0;
        font-size: 18px;
        color: #333333;
        height: 84px;
        padding: 16px;
        box-sizing: border-box;
        line-height: 26px;
      }
    }
  }
}
.activity-rules {
  background: #fff;
  border-radius: 24px 24px 0 0;
  .rules-header {
    height: 42px;
    background-image: url(../../../assets/images/Activity/rulesbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 139px;
    p {
      text-align: center;
      line-height: 42px;
      font-size: 18px;
      color: #333333;
    }
  }
  .rules-box {
    height: 448px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    .rules-content {
      padding: 0 16px;
      box-sizing: content-box;
      p {
        font-size: 16px;
        line-height: 16px;
        display: inline-block;
        font-weight: bold;
        color: #333333;
        background: url(../../../assets/images/Activity/rulesline.png) no-repeat bottom left;
        background-size: 100%;
        margin-top: 18px;
      }
      ul {
        list-style: none;
        li {
          font-size: 14px;
          line-height: 24px;
          color: #151515;
          &:nth-child(1) {
            margin-top: 10px;
          }
        }
      }
    }
  }
}
.task-lists {
  box-sizing: content-box;
  .task-bg {
    position: relative;
    top: 1px;
    & > img {
      display: block;
      width: 100%;
    }
    .task-close-btn {
      display: block;
      width: 32px;
      position: absolute;
      top: 0;
      right: 16px;
    }
  }
  .task-content-bg {
    max-height: 390px;
    box-sizing: border-box;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 9px 16px 16px;
    background-image: linear-gradient(#ff604e, #f94266);
  }
  .task-content {
    display: flex;
    flex-direction: row;
    background: #fff;
    padding: 15px;
    margin-top: 10px;
    border-radius: 6px;
    .left-content {
      img {
        display: block;
        width: 46px;
      }
    }
    .center-content {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding-left: 5px;
      margin-top: 4px;
      img {
        display: block;
        width: 22px;
      }
      & > p {
        font-size: 14px;
        line-height: 14px;
        font-weight: bold;
        color: #333333;
      }
      .jifen-box {
        flex-direction: column;
        margin-top: 6px;
        .jifen-info {
          font-size: 16px;
          line-height: 22px;
          color: #fdc014;
          padding-left: 25px;
          background-color: #fffae1;
          background-image: url(../../../assets/images/Activity/integral.png);
          background-repeat: no-repeat;
          background-size: 20px;
          border-radius: 11px;
        }
        .center-location {
          padding-top: 6px;
          display: flex;
          flex-direction: row;
          align-items: center;
          font-size: 12px;
          color: #999999;
          padding-left: 14px;
          background-image: url(../../../assets/images/Activity/location.png);
          background-repeat: no-repeat;
          background-position: 0 4px;
          background-size: 14px;
        }
      }
    }
    .right-content {
      width: 84px;
      height: 34px;
      text-align: center;
      line-height: 34px;
      font-size: 14px;
      margin-top: 6px;
      color: #ffffff;
      background: url(../../../assets/images/Activity/taskbtn.png);
      background-size: 100%;
      background-repeat: no-repeat;
    }
    .right-content-disabled {
      background: url(../../../assets/images/Activity/taskbtn_disabled.png);
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }
  .task-content:nth-child(1) {
    margin-top: 0;
  }
}
.myModalShare {
  width: 100%;
  position: absolute;
  background: rgba($color: #000, $alpha: 0.66);
  top: 0;
  padding-top: 0;
  box-sizing: border-box;
  bottom: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  & > img {
    display: block;
    width: 34px;
    height: 34px;
    margin-top: 29px;
  }
  .share-box {
    height: 290px;
    width: 291px;
    background-color: #fff;
    border-radius: 6px;
    & > p {
      text-align: center;
      line-height: 42px;
      font-size: 18px;
      color: #333333;
      height: 42px;
      background-image: url(../../../assets/images/Activity/rulesbg.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 139px;
      margin-bottom: 28px;
    }
    .share-content {
      padding: 0 16px;
      .share-way {
        p:nth-child(1) {
          font-size: 16px;
          line-height: 16px;
          display: inline-block;
          font-weight: bold;
          color: #333333;
          background: url(../../../assets/images/Activity/rulesline.png) no-repeat bottom left;
          background-size: 100%;
        }
        p:nth-child(2) {
          margin-top: 10px;
          line-height: 24px;
          font-size: 14px;
          color: #151515;
        }
        .share-link {
          display: flex;
          margin-top: 7px;
          .share-input {
            outline: none;
            border: none;
            height: 28px;
            line-height: 28px;
            background: #f5f5f5;
            border-radius: 4px;
            border-radius: 4px;
            flex: 1;
            padding: 0 8px;
            font-size: 12px;
            color: #999999;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          span {
            display: inline-block;
            width: 38px;
            padding-left: 10px;
            line-height: 28px;
            font-size: 14px;
            color: #48a3a0;
          }
        }
      }
    }
  }
}
.am-drawer-sidebar {
  overflow: hidden;
}
.am-drawer-open.am-drawer.am-drawer-bottom .am-drawer-sidebar {
  box-shadow: none !important;
}
