.notData {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 188px;
    display: block;
    margin-bottom: 22px;
    margin-top: 54px;
  }
  p {
    font-size: 16px;
    color: #afb3b3;
    text-align: center;
  }
}
