.job-detail {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .job-detail-header {
    width: 100%;
    position: relative;
    // margin-bottom: 20px;
  }

  .go-back-icon {
    width: 30px;
    position: absolute;
    z-index: 9999;
    top: 27px;
    left: 15px;
  }

  .share-icon {
    width: 30px;
    position: absolute;
    z-index: 9999;
    top: 27px;
    right: 15px;
  }

  .myModal {
    width: 100%;
    // position: absolute;
    position: fixed;
    height: 100%;
    background: rgba($color: #000, $alpha: 0.66);
    top: 0;
    padding-top: 18px;
    box-sizing: border-box;
    bottom: 0;
    z-index: 9;
    .modalArrow {
      display: block;
      width: 193px;
      margin-left: 150px;
      margin-bottom: 14px;
    }
    .modalContent {
      margin: 0 auto;
      width: 320px;
      height: 120px;
      background-image: url(../../../assets/images/Activity/share1.png);
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      .modalText {
        width: 289px;
        height: 92px;
        background: #fff;
        border-radius: 6px;
        padding: 4px;
        box-sizing: border-box;
        p {
          border: 1px dashed #e0e0e0;
          font-size: 18px;
          color: #333333;
          height: 84px;
          padding: 16px;
          box-sizing: border-box;
          line-height: 26px;
        }
      }
    }
  }

  .myModalShare {
    width: 100%;
    position: fixed;
    background: rgba($color: #000, $alpha: 0.66);
    top: 0;
    padding-top: 0;
    box-sizing: border-box;
    bottom: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    & > img {
      display: block;
      width: 34px;
      height: 34px;
      margin-top: 29px;
    }
    .share-box {
      // height: 290px;
      box-sizing: border-box;
      padding-bottom: 40px;
      width: 291px;
      background-color: #fff;
      border-radius: 6px;
      & > p {
        text-align: center;
        line-height: 42px;
        font-size: 18px;
        color: #333333;
        height: 42px;
        background-image: url(../../../assets/images/Activity/rulesbg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 139px;
        margin-bottom: 28px;
      }
      .share-content {
        padding: 0 16px;
        .share-way {
          p:nth-child(1) {
            font-size: 16px;
            line-height: 16px;
            display: inline-block;
            font-weight: bold;
            color: #333333;
            background: url(../../../assets/images/Activity/rulesline.png) no-repeat bottom left;
            background-size: 100%;
          }
          p:nth-child(2) {
            margin-top: 10px;
            line-height: 24px;
            font-size: 14px;
            color: #151515;
          }
          .share-link {
            display: flex;
            margin-top: 7px;
            .share-input {
              outline: none;
              border: none;
              height: 28px;
              line-height: 28px;
              background: #f5f5f5;
              border-radius: 4px;
              border-radius: 4px;
              flex: 1;
              padding: 0 8px;
              font-size: 12px;
              color: #999999;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            span {
              display: inline-block;
              width: 38px;
              padding-left: 10px;
              line-height: 28px;
              font-size: 14px;
              color: #48a3a0;
            }
          }
        }
      }
    }
  }

  .detail-img-box {
    width: 100% !important;
    height: 220px !important;
    overflow: hidden;
    display: flex;
    justify-content: center;

    .detail-img {
      // width: 100% !important;
      height: 100% !important;
      width: auto !important;
    }
  }

  .sss {
    width: 100%;
    height: 220px !important;
    background-color: antiquewhite;
  }

  .job-detail-info {
    flex: 1;
    overflow-x: hidden;
    box-sizing: border-box;
    // padding: 20px 15px 32px;

    .job-detail-info-title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 32px;
      box-sizing: border-box;
      padding: 20px 15px 0px;
      padding-top: 20px;
      margin-top: -19px;
      background-color: #fff;
      border-radius: 24px 24px 0 0;
      position: relative;

      .job-detail-info-title-left {
        display: flex;
        flex-direction: column;

        .job-detail-info-title-jobname {
          font-size: 22px;
          color: #222222;
          margin-bottom: 12px;
        }

        .job-detail-info-title-companyname {
          font-size: 14px;
          color: #666666;
        }
      }

      .job-detail-info-title-workprice {
        font-size: 24px;
        color: #48A3A0;
      }
    }

    .job-detail-info-desc {
      width: 100%;
      margin-bottom: 29px;
      box-sizing: border-box;
      padding: 0 15px;

      .job-detail-info-desc-title {
        font-size: 18px;
        color: #222222;
        margin-bottom: 16px;
      }

      .job-detail-info-desc-content {
        background: #F7F7F7;
        border-radius: 6px 6px 0 0;
        width: 343px;
        max-height: 240px;
        padding: 15px 15px 15px;
        box-sizing: border-box;
        font-size: 14px;
        color: #222222;
        overflow: hidden;
        line-height: 24px;
        // text-overflow: ellipsis;
        // display: -webkit-box;
        // -webkit-line-clamp: 8;
        // -webkit-box-orient: vertical;
        .job-detail-info-desc-content-box {
          width: 100%;
        }
      }

      .job-detail-info-desc-content-more {
        background: #F7F7F7;
        border-radius: 6px 6px 0 0;
        width: 343px;
        padding: 15px 15px 0px;
        box-sizing: border-box;
        font-size: 14px;
        color: #222222;
        overflow-x: hidden;
        line-height: 24px;
        // text-overflow: ellipsis;
        // display: -webkit-box;
        // -webkit-line-clamp: 8;
        // -webkit-box-orient: vertical;
        .job-detail-info-desc-content-box {
          width: 100%;
        }
      }

      .job-detail-info-desc-content-showmore {
        background: #F7F7F7;
        border-radius: 0 0 6px 6px;
        padding: 10px 0;
        width: 343px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: #48A3A0;
        // background: #F7F7F7;
        border-radius: 0 0 6px 6px;

        span {
          margin-right: 10px;
        }
        
        .job-detail-info-desc-content-showmore-icon {
          width: 10px;
        }

        .job-detail-info-desc-content-showless-icon {
          width: 10px;
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }

    .job-detail-info-address {
      width: 100%;
      box-sizing: border-box;
      padding: 0 15px;

      .job-detail-info-address-title {
        font-size: 18px;
        color: #222222;
        margin-bottom: 15px;
      }

      .job-detail-info-address-desc {
        background: #FFFFFF;
        border: 1px solid #F5F5F5;
        border-radius: 6px;
        display: flex;
        width: 100%;
        height: 76px;
        align-items: center;
        margin-bottom: 15px;

        .job-detail-info-address-desc-icon {
          width: 40px;
          height: 40px;
          margin-right: 15px;
          margin-left: 15px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }

        .job-detail-info-address-desc-company {

          .job-detail-info-address-desc-company-name {
            font-size: 16px;
            color: #222222;
            display: flex;
            align-items: center;

            img {
              width: 16px;
              height: 16px;
              margin-left: 5px;
            }
          }

          .job-detail-info-address-desc-company-address {
            display: flex;
            align-items: center;
            margin-top: 10px;
            img {
              width: 14px;
              height: 14px;
              margin-right: 5px;
            }

            div {
              font-size: 12px;
              color: #B3B3B3;
              max-width: 213px;
              overflow: hidden;
              text-overflow:ellipsis;
              white-space: nowrap;
            }
          }
        }
      }

      .job-detail-info-address-map {
        width: 100%;
        height: 165px;
        background-color: #F5F5F5;
        margin-bottom: 32px;

        .allmap {
          width: 100%;
          height: 100%;
        }
      }
    }

    .job-detail-info-agent {
      width: 100%;
      height: 72px;
      display: flex;
      align-items: center;
      background: #FFFFFF;
      border: 1px solid #F2F5F5;
      border-radius: 6px;
      box-sizing: border-box;
      padding: 0 15px;
      margin-bottom: 32px;

      .job-detail-info-agent-avatal {
        width: 40px;
        height: 40px;
        margin-right: 15px;
        margin-left: 15px;
        position: relative;

        .avatal {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }

        .renzhen {
          position: absolute;
          width: 14px;
          height: 14px;
          right: 0;
          bottom: 0;
        }
      }

      .job-detail-info-agent-desc {
        .job-detail-info-agent-desc-name {
          font-size: 16px;
          color: #222222;
        }

        .job-detail-info-agent-desc-company {
          font-size: 12px;
          color: #B3B3B3;
          margin-top: 8px;
        }
      }
    }
  }

  .job-detail-bottom {
    width: 100%;
    height: 78px;
    background: #FFFFFF;
    box-shadow: inset 0 0 0 0 #F5F5F5;
    border-radius: 24px 0 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    .job-detail-btn {
      background: #48A3A0;
      border-radius: 6px;
      color: #fff;
      font-size: 18px;
      width: 341px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .unavailable {
        width: 341px;
        height: 50px;
        position: absolute;
        background-color: rgba($color: #fff, $alpha: 0.5);
      }
    }
  }
}
