.position-layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #f7f7f7;
  .content {
    flex: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    .am-list-view-scrollview {
      height: 100%;
      .am-list-body {
        padding: 10px 0;
        background: #f7f7f7;
        &:before,
        &:after {
          height: 0;
        }
      }
    }
  }
  .position-header {
    background: #fff;
    padding: 0 16px;
    &-top {
      display: flex;
      height: 54px;
      line-height: 54px;
      align-items: center;
      &-city {
        font-size: 16px;
        color: #222222;
        padding-left: 17px;
        background: url('../../../assets/images/Common/location.png') no-repeat;
        background-size: 13px auto;
        background-position: left center;
      }
      &-back {
        font-size: 16px;
        color: #222222;
        margin-left: 10px;
      }
      &-search {
        flex: 1;
        background: #f2f2f2;
        border-radius: 18px;
        height: 36px;
        margin-left: 10px;
        line-height: 36px;
        padding-left: 40px;
        background-image: url('../../../assets/images/Common/icon_search.png');
        background-repeat: no-repeat;
        background-size: 18px auto;
        background-position: 15px center;
        input {
          width: calc(100% - 40px);
          border: none;
          outline: none;
          background: #f2f2f2;
          height: 24px;
          line-height: 24px;
        }
      }
    }
  }
}
