.login-page {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;

  .header-close-icon {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;

    img {
      width: 16px;
      margin-left: 15px;
    }
  }

  .login-box {
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px;
    position: relative;
    margin-top: 25px;

    .header-logo {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 41px;

      img {
        width: 52px;
      }

      .header-login-right {
        display: flex;
        flex-direction: column;
        height: 60px;
        justify-content: space-around;
        margin-left: 15px;

        .header-login-right-title {
          font-size: 24px;
          color: #222222;
        }

        .header-login-right-welcome {
          font-size: 16px;
          color: #666666;
        }
      }
    }

    .item {
      width: 100%;
      height: 50px;
      // border-bottom: 1px solid #f0f0f0;
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      opacity: 0.6;
      background: #FAFAFA;
      border: 1px solid #EEEEEE;
      border-radius: 6px;
      box-sizing: border-box;
      padding: 0 15px;

      .item-icon {
        width: 20px;
        height: 20px;
        margin-right: 15px;
        // margin: 0 15px;

        img {
          width: 20px;
        }
      }

      .item-operate {
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #FAFAFA;
        // max-width: 202px;

        .item-operate-input {
          // width: 110px;
          height: 100%;
          border: none;
          resize:none;
          border: solid 0px;
          outline:none;
          font-size: 14px;
          color: #061D33;
          flex: 1;
          background: #FAFAFA;
        }

        .item-operate-input-auth {
          max-width: 148px;
        }

        .item-operate-input-imgauth {
          max-width: 112px;
        }

        .count-down {
          font-size: 14px;
          color: #48A3A0;
        }

        .is-count-down {
          font-size: 14px;
          color: #999;
        }
      }
    }

    .agree-protocol {
      margin-top: 15px;
      width: 100%;
      // display: flex;
      // flex-direction: column;
      // align-items: center;

      .agree-protocol-outside {
        display: flex;
        align-items: center;
      }

      .agree-protocol-outside-bottom {
        margin-top: 5px;
        color: #999;
      }

      .agree-protocol-box {
        width: 16px;
        height: 16px;
        border: 1px solid #48A3A0;
        border-radius: 50%;
        position: relative;
        margin-right: 5px;
      }

      .agree-protocol-box-agree {
        background-color: #48A3A0;
      }

      .agree-protocol-box-agree:after {
        position: absolute;
        top: 1.6px;
        right: 5px;
        z-index: 999;
        width: 4px;
        height: 8px;
        border-style: solid;
        border-color: #fff;
        border-width: 0 1px 1px 0;
        content: " ";
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      
      .agree-protocol-box-prompt {
        font-size: 12px;
        color: #999999;
      }

      .agree-protocol-box-protocol {
        font-size: 12px;
        color: #48A3A0;
      }
    }

    .submit-btn {
      width: 100%;
      height: 50px;
      // margin-top: 39.5px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      color: #FFFFFF;
      border-radius: 6px;
      // background-image: linear-gradient(180deg, #77d1ce 0%, #48A3A0 97%);
      background: #48A3A0;
      position: relative;
      box-shadow: 2px 9px 10px #e6f7f6;
    }
  
    .unavailable {
      width: 100%;
      height: 50px;
      position: absolute;
      background-color: rgba($color: #fff, $alpha: 0.5);
    }

    .close-icon {
      width: 231px;
      position: absolute;
      bottom: -63px;
      display: flex;
      justify-content: center;

      img {
        width: 34px;
        height: 34px;
      }
    }
  }
}
