.loginPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.loginPageContent {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  .emailInput {
    width: 100%;
  }

  .passwordInput {
    width: 100%;
    margin: 36px 0 80px;
  }

  .btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}