.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pageContent {
  flex: 1;
  display: flex;
  justify-content: center;

  .emailInput {
    width: 100%;
  }

  .passwordInput {
    width: 100%;
    margin: 36px 0 80px;
  }

  .btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
  }

  .switchRegisterOrLogin {
    width: 100%;
    margin: 0 auto;
    font: 15px NotoSansSC;
    color: #2189e9;
    text-decoration: underline;
    text-align: center;

    span {
      cursor: pointer;
    }
  }
}