.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pageContent {
  flex: 1;
  box-sizing: border-box;
  padding: 0px 40px;

  .paper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #fff;
    box-sizing: border-box;
    padding: 53px 24px;

    .paperHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 47px;
      margin-bottom: 34px;

      .diaryTitle, .diaryDate {
        font: 32px NotoSansSC;
        letter-spacing: 1.39px;
        color: #000;
      }
    }

    .diaryContent {
      width: 100%;
      font: 300 28px NotoSansSC;
      letter-spacing: 0.32px;
      color: #1b1b1b;
      line-height: 36px;
    }
  }
}
